{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    #search{
        float: right;
        margin-top: 2em;
        margin-right: 2em;
    }
</style>
    <body>
    <div class="container-md">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search">   
    </div>
    <br>
    <div class="container-md">
        <div class="row col-12">
            <div class="col-10">
                <p>{{ game_type }}</p>
            </div>
            <div class="col-2" style="float: right;">
                <a href="#">See more...</a>
            </div>
        </div>
        <div class="row col-12">
            <div class="card col-2" style="width: 18rem;margin-right: 2em;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card col-2" style="width: 18rem;margin-right: 2em;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card col-2" style="width: 18rem;margin-right: 2em;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        
        <div class="card col-2" style="width: 18rem;margin-right: 2em;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <div class="card col-2" style="width: 18rem;margin-right: 2em;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
    <hr>
    {% comment %} <div class="container-md">
        <div class="row col-12">
            <div class="col-10">
                <p>{{ mod.1 }}</p>
            </div>
            <div class="col-2" style="float: right;">
                <a href="#">See more...</a>
            </div>
        </div>
       
        <div class="row col-12">
            <div class="card col-2" style="width: 18rem;margin-right: 2em;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card col-2" style="width: 18rem;margin-right: 2em;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card col-2" style="width: 18rem;margin-right: 2em;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        
        <div class="card col-2" style="width: 18rem;margin-right: 2em;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <div class="card col-2" style="width: 18rem;margin-right: 2em;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
     {% endcomment %}
<br><br>
  {% comment %} {% for type in game_type %}

    <p>{{ type }}</p>
  {% endfor %} {% endcomment %}
  <p>{{ game_type }}</p>
</body>

{% endblock content %}
