{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row col-12">
            <img src="https://s.isanook.com/ca/0/ui/279/1396205/download20190701165129_1562561119.jpg" class="img-fluid"
                alt="Responsive image" style="height:400px;width: 100%;">
        </div>
    </div>
    <br><br><br>
    <div class="container bg-light"><br><br>
        <img src="https://s.isanook.com/ca/0/ui/279/1396205/download20190701165129_1562561119.jpg" alt="..."
            class="img-thumbnail" style="width: 15rem;height: 10rem;">
        <span class="s" style="padding-top: 4em;padding-left:10em;position: absolute;">Game Name</span>

        <span class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <label for="" style="width: 100%;text-align: center;">Pices</label>
            </div>
        </span>

        <span class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-dark" style="width: 100%;">Buy</button>
            </div>
        </span>
    </div>
    <br><br><br>
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <label for="">About this Game</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Developer</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Publisher</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Release Date</label>

            </div>

        </div>
        <div class="row">
            <div class="col p-3">
            </div>
            <div class="col">
                <label for="">Developer</label>

            </div>
            <div class="col">
                <label for="">Publisher</label>

            </div>
            <div class="col">
                <label for="">Release Date</label>

            </div>
        </div>

        <br>
        <hr>
        <div class="row">
            <div class="col p-3">
            </div>
            <div class="col">
                <label for="" style="color: gray;">Developer</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Publisher</label>

            </div>
            <div class="col">
                <label for=""></label>

            </div>
        </div>

        <div class="row">
            <div class="col p-3">
            </div>
            <div class="col">
                <label for="" >Developer</label>

            </div>
            <div class="col">
                <label for="" >Publisher</label>

            </div>
            <div class="col">
                <label for="" ></label>

            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col">
                <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet
                    fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex
                    communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem
                    certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
            </div>
        </div>
    </div>
    

    <br><br><br>
    <hr>
</body>

</html>