{% extends 'base.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <title>Information</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row col-12">
            <img src="https://s.isanook.com/ca/0/ui/279/1396205/download20190701165129_1562561119.jpg" class="img-fluid"
                alt="Responsive image" style="height:400px;width: 100%;">
        </div>
    </div>
    <br><br><br>
    <div class="container bg-light"><br><br>
        <img src="https://s.isanook.com/ca/0/ui/279/1396205/download20190701165129_1562561119.jpg" alt="..."
            class="img-thumbnail" style="width: 15rem;height: 10rem;">
        <span class="s" style="padding-top: 4em;padding-left:10em;position: absolute;">{{ g.name }}</span>

        <span class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <label for="" style="width: 100%;text-align: center;">{{ g.price }}</label>
            </div>
        </span>

        <span class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-dark" style="width: 100%;">Buy</button>
            </div>
        </span>
    </div>
    <br><br><br>
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <label for="">About this Game</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Developer</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Publisher</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Release Date</label>

            </div>

        </div>
        <div class="row">
            <div class="col p-3">
            </div>
            <div class="col">
                <label for="">{{ g.developer }}</label>

            </div>
            <div class="col">
                <label for="">{{ g.developer }}</label>

            </div>
            <div class="col">
                <label for="">{{ g.release_date }}</label>

            </div>
        </div>

        <br>
        <hr>
        {% comment %} <div class="row">
            <div class="col p-3">
            </div>
            <div class="col">
                <label for="" style="color: gray;">Developer</label>

            </div>
            <div class="col">
                <label for="" style="color: gray;">Publisher</label>

            </div>
            <div class="col">
                <label for=""></label>

            </div>
        </div>

        <div class="row">
            <div class="col p-3">
            </div>
            <div class="col">
                <label for="" >Developer</label>

            </div>
            <div class="col">
                <label for="" >Publisher</label>

            </div>
            <div class="col">
                <label for="" ></label>

            </div>
        </div> {% endcomment %}
        <br><br><br>
        <div class="row">
            <div class="col">
                <p class="text-justify">{{ g.description }}</p>
            </div>
        </div>
    </div>
     {% comment %} <div>
        {% for b in name %}
            <p>{{ b.name }}</p>
        {% endfor %}
     </div> {% endcomment %}
    <br><br><br>
    <hr>
</body>

</html>
{% endblock content %}